<div id="post-container">
    <div id="info-message-grid">
        <div id="info">
            <label id="image-post-title-text">{{currentPost.title}}</label>
            <br />
            <div id="image-post-author" class="info-tags">{{currentPost.username}}</div>
            <div id="image-post-date" class="info-tags">{{currentPost.created}}</div> </br>
            <div id="image-post-desc" class="info-tags">{{currentPost.description}}</div>
        </div>
        </br>
        <img id="image-post-image" src="/{{currentPost.photopath}}">
        <div id="messages">
            <label id="comment-title">Comments</label>
            <div class="message-list">
                {{#each currentPost.comments}}
                {{> comment this}}
                {{/each}}
            </div>
        </div>
        <div class="message-box">
            <textarea id="comment-box-text" placeholder="Enter Comment Here" rows="3" cols="65"></textarea>
            <button type="submit" class="button_comment" id="comment-box-button">Submit</button>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('span[class=date-posted]').forEach((postedDate) => {
            postedDate.textContent = new Date(postedDate.textContent).toLocaleString();
        });
    });

    function addMessage(data) {
        let template = document.createElement('template');
        template.innerHTML =
            `<div id="message-${data.commentId}">
                <strong class="author-text">@${data.username}</strong>
                <span class="date-posted">${new Date().toLocaleString()}</span>
                <div class="comment-text">${data.comment}</div>
            </div>`;
        document.getElementById('messages').firstChild.before(template.content.firstChild);
    }

    document.getElementById('comment-box-button').onclick = (event) => {
        let commentText = document.getElementById('comment-box-text').value;
        let postId = document.location.pathname.match(/\d+/g).map(Number)[0];

        if (!commentText) {
            return;
        } else {
            let fetchOptions = {
                method: "POST",
                headers: {
                    "Content-Type": "Application/json"
                },
                body: JSON.stringify({
                    comment: commentText,
                    postId, postId
                })
            }
            fetch('/comments/create', fetchOptions)
                .then((response) => response.json())
                .then((data) => {
                    if (data.code == 1) {
                        addMessage(data);
                    } else {
                        addFlashFromFrontEnd(data.message, data.status);
                    }
                })
                .catch(err => console.log(err));
        }
    }
</script>